:root {
    --ct-color-host-accent: rgb(96,125,139) !important;
    --ct-color-list-hover-text: rgb(96,125,139) !important;      
    
    /* Theme color */
    --pf-global--primary-color--100: rgb(96,125,139) !important;
    --pf-global--primary-color--200: rgb(96,125,139) !important;
    --pf-global--secondary-color: #26a69a;
    --pf-global--warning-color--100: #F2C037 !important;
    --pf-global--warning-color--200: #F2C037 !important;
    --pf-global--warning-color--200: #F2C037 !important;

    --pf-global--main-color: rgb(96,125,139);

    --pf-global--text-color: #424242;
    --pf-global--text-secondary-color: #757575;

    --pf-global--borderColor: rgba(0,0,0,0.12);

    /*  Link colors */
    --pf-global--link--Color: rgb(96,125,139) !important;
    /* --pf-global--link--Color: rgb(96,125,139) !important; */
    --pf-global--link--Color--hover: rgb(96,125,139) !important;

    /*  Inline link colors */
    --pf-c-button--m-link--Color: rgb(96,125,139) !important;
    --pf-c-button--m-link--m-inline--hover--Color: #26a69a !important;

    /*  Nav link colors */
    --pf-c-badge--m-unread--BackgroundColor: rgb(96,125,139) !important;
    --pf-c-nav__link--Color: rgb(96,125,139) !important;
    --pf-c-nav__link--m-current--Color: #26a69a !important;
    --pf-c-nav__link--before--BorderColor: rgb(96,125,139) !important;
    --pf-c-nav__section__link--hover--after--BorderColor: #26a69a !important;

    /*  Progress indicators colors */
    --pf-c-progress__indicator--BackgroundColor: rgb(96,125,139) !important;
    --pf-c-progress__bar--BackgroundColor: #26a69a !important;

    /*  Table headings colors */
    --pf-c-table__sort__button__text--Color: rgb(96,125,139) !important;

    /* Sidebar */
    --pf-c-page__sidebar--BackgroundColor: white !important;
    --pf-c-page__header--BackgroundColor: white !important;
}

.pf-c-page__header,.pf-c-page__sidebar {
    background-color: white;    
}

h1{
    font-size: 1.3em !important;
    line-height: 1.3em !important;
    margin-block-start: 1.2em !important;
    margin-block-end: 1em !important;
    font-weight: 300 !important;    
  }

a {
    color: var(--pf-global--main-color)
  }

*:focus {
    outline: none;
}
*:required {
    color: var(--pf-global--text-color);
  }

/* Sidebar realm select */
.keycloak__realm_selector_dropdown__toggle{
    --pf-c-dropdown__toggle--BackgroundColor: white;
    --pf-c-dropdown__toggle--before--BorderTopColor: var(--pf-c-dropdown__toggle--before--BorderTopColor)    
}

.keycloak__realm_selector_dropdown__toggle .pf-c-dropdown__toggle-text{
    color: var(--pf-global--text-color) !important;
}

.pf-c-divider:after {
    background-color: var(--pf-global--borderColor)
}

.pf-c-dropdown__menu-item {
    font-size: 14px;
}

.pf-c-dropdown__toggle, .pf-c-select__toggle {
    height: 2.25em;
}

.pf-c-dropdown__toggle-text {
    color: var(--pf-global--text-color) !important;
}

.pf-c-dropdown__toggle.pf-m-plain{
    color:var(--pf-global--text-color)!important;
}

.pf-c-page__header {
    border-bottom: 1px solid var(--pf-global--borderColor);
}
.pf-c-page__sidebar {
    border: 1px solid var(--pf-global--borderColor);
    border-top:0px;
    width: auto;
}   
.pf-c-page__sidebar-body {
    border-bottom: 1px solid var(--pf-global--borderColor);
}
.pf-c-page {
    --pf-c-page__sidebar-body--Border: 1px solid var(--ct-color-host-accent);
}

.pf-c-page__main-section {
    padding: 40px 80px 0 !important;
}

/* Form control */

.pf-c-form-control {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.24);
}

.pf-c-form-control:focus {
    border-bottom-color: var(--pf-global--main-color);
}


.pf-c-form-control:required {
    color: var(--pf-global--text-color);
}
.pf-c-form__label-text {
    color: var(--pf-global--text-secondary-color) !important;
    font-weight: normal;
}

.pf-c-form-control[readonly] {
    background-color: transparent;
    color:rgba(0,0,0,0.54);
}


.pf-c-form-control {
    --pf-c-form__label-required--Color: var(--pf-global--text-color) !important;
}

.pf-c-form-control:focus {
    --pf-c-form-control--BorderBottomColor: var(--pf-global--primary-color--100);
}

/* Button */

.pf-c-button.pf-m-secondary {
    --pf-c-button--m-secondary--Color: var(--pf-global--secondary-color);
    --pf-c-button--after--BorderColor: var(--pf-global--secondary-color);
    --pf-c-button--m-secondary--hover--after--BorderColor: var(--pf-global--secondary-color);
    --pf-c-button--m-secondary--hover--Color: var(--pf-global--secondary-color);
}

.pf-c-button.pf-m-link {
    color:  var(--pf-global--main-color);
    font-size: 14px;
} 

.pf-c-button.pf-m-primary {
    font-size:14px;
}

/* Select */
.pf-c-select__toggle:hover {
    --pf-c-select__toggle--before--BorderBottomColor: var(--pf-global--main-color) !important;
}

 .pf-c-select__toggle:before {
    border: 1px solid var(--pf-global--borderColor);
} 

.pf-c-select__menu-item {
    font-size: 14px;
}

/* Text input */
.pf-c-text-input-group__text:focus-within {
    border-bottom-color: var(--pf-global--main-color) !important;
}

.pf-c-text-input-group__text:focus-within {    
    --pf-c-text-input-group__text--after--BorderBottomColor: var(--pf-global--main-color);
}

/* .pf-c-select__toggle:focus, .pf-c-select__toggle:focus-within {
    --pf-c-select__toggle--before--BorderBottomColor: var(--pf-global--main-color);
} */


/* pf-c-nav */
.pf-c-nav__link {
    font-size: 14px;
}

.pf-c-nav__section-title {
    color: #424242;
    font-weight: 300;
}

.pf-c-nav__section-title {
    border-bottom-color: var(--pf-global--borderColor);
}

.pf-c-nav {

    --pf-c-nav__link--Color: #424242;
    --pf-c-nav__link--FontSize: 14px !important;
    --pf-c-nav__link--after--Border: 0px !important;

    --pf-c-nav__link--before--BorderColor: white;
    --pf-c-nav__item--before--BorderColor: white;

    --pf-c-nav__link--m-current--BackgroundColor: white;
    --pf-c-nav__link--m-current--Color: #42424299;
    --pf-c-nav__link--m-current--after--Border: 0px !important;

    --pf-c-nav__link--hover--BackgroundColor: white;
    --pf-c-nav__link--hover--Color: #42424299;

    --pf-c-nav__link--focus--BackgroundColor:white;
    --pf-c-nav__link--focus--Color: #424242;

    --pf-c-nav__link--active--BackgroundColor:white;
    --pf-c-nav__link--active--Color: #424242;

    --pf-c-nav--Transition: var(--pf-global--Transition);
    --pf-c-nav--m-light__item--before--BorderColor: var(--pf-global--BorderColor--300);

    
}

.pf-c-nav__link.pf-m-current:after, 
.pf-c-nav__link.pf-m-current:hover:after, 
.pf-c-nav__item.pf-m-current:not(.pf-m-expanded) 
.pf-c-nav__link:after {
    border:0px;
}
.pf-c-nav__link:hover:after, .pf-c-nav__link.pf-m-hover:after {
    border:0px;
}
.pf-c-nav__toggle{
    margin-left: inherit !important; 
    font-size: 14px;
} 


.pf-c-switch__input:checked~.pf-c-switch__toggle {
    background-color: var(--pf-global--main-color);
}

.pf-c-dropdown__toggle .pf-c-dropdown__toggle-text {
    color:white;
}

.pf-c-dropdown__toggle .pf-c-dropdown__toggle-icon {
    color:white !important;
}

.pf-c-dropdown__toggle.pf-m-primary {
    margin-bottom: 1em;
}